        body {
            background-color: #F5F5F5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container {
            background-color: #E9E9E9;
            margin: auto;

            width: 600px;

            box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            overflow: hidden;
        }

        .header {
            padding: 2.5rem;
        }

        .flex-container {
            display: flex;
            justify-content: space-around;
        }

        .header-title {
            color: #006F6F;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1.25rem;
        }

        .header-subtitle {
            color: #009E9E;
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 0.9375rem;
        }

        .col-1 {
            background-color: #006A6A;
            width: 50%;
            padding: 1.25rem;
            color: #FFF;
        }

        .col-2 {
            background-color: #009E9E;
            width: 50%;
            padding: 0.625rem 1.25rem;
            color: #FFF;
        }

        .subscription-title {
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 1.25rem;
        }

        .price {
            font-size: 1.625rem;
            font-weight: 700;
        }

        .month {
            font-size: 0.9375rem;
            font-style: italic;
            margin-left: 0.9375rem;
        }

        .button {
            margin-top: 1.25rem;

            width: 100%;
            padding: 0.9375rem 2rem;

            color: #006A6A;
            background-color: #CCCCCC;

            font-size: 1rem;

            border-radius: 4px;
            border: none;

            cursor: pointer;
        }

        .button:hover {
            background-color: #E9E9E9;
        }

        .image.group {
            text-align: center;
        }

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 1,
                'opsz' 24;
            font-size: 3rem !important;
        }

        @media screen and (max-width: 620px) {
            html {
                font-size: 12px;
            }

            .container {
                width: 95%;
            }

            .flex-container {
                flex-direction: column-reverse;
            }

            .col-1 {
                width: 100%;
                box-sizing: border-box;
            }

            .col-2 {
                width: 100%;
            }

        }